<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
			<key>assets</key>
				<array>
				<dict>
				<key>kind</key>
				<string>software-package</string>
				<key>url</key>
				<string>https://notice.kbli.co.kr/upload/kblalimi.ipa</string>
				<!--string>https://push.itapi.org/kblalimi.ipa</string-->
				</dict>
				</array>
			<key>metadata</key>
				<dict>
				<key>bundle-identifier</key>
				<string>kr.co.kblife.app.push</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>케라알리미DEV</string>
				</dict>
			</dict>
		</array>
	</dict>
</plist>
